
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 50px 0;
  background-image: url("images/top_en.png");
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  position: relative;
  animation-name: rubberBand;
  animation-duration: 2s;
}

.top-wrapper p {
  opacity: 1.0;
  margin-bottom: 3px;
  color: brown;
  font-style: italic;
  font-weight: bold;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn-wrapper img {
  height: 120px;
  opacity: 0.5;
  margin-bottom: 25px;
  animation-name: bounceInDown;
  animation-duration: 2s;
}

.signup {
  background-color: #239b76;
  text-align: center;
}

.btn {
  padding: 12px 60px;
  color: white;
  display: inline-flex;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(236, 240, 241,0.6);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 80px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: blue;
  display: block;
  float: left;
  transition: all 0.5s;
  font-size: larger;
  font-weight: bold;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.about-wrapper {
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.about-heading {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #5f5d60;
}

.content {
  float: left;
  width: 50%;
  padding-bottom: 50px;
}

.content-about{
  position: relative;
}
.content-about img{
  border-style: double;
  width:90%;
  float: left;
}
.about-heading h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.about-heading h3 {
  font-weight: normal;
  text-align: left;
}
.about-heading span {
  font-weight: normal;
  color: red;
}

.content-about p{
  text-align: justify;
  text-indent: 35px;
}
.content-about span{
  font-weight: bold;
}
.heading h1 {
  font-weight: normal;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.heading h2{
  padding-top: 80px;
}
.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  text-align: center;
  background-image: url("images/quote.jpg");
  background-size: contain;

}

.message {
  padding: 15px 10px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.message-wrapper h3{
  font-weight: bold;
  font-style: italic;
  color: black;
}
.message-wrapper p{
  font-weight: bold;
  color: #b71540;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer-heading {
  padding-bottom: 10px;
  color: #5f5d60;
}

.footer-content{
  float: right;
  width: 50%;
}

.content-footer{
  position: relative;
}

.fa-bars {
  color: black;
  float: right;
  padding: 21px 0;
  visibility: hidden;

}

.crew-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f1f2f6;
  text-align: center;
}

.crew {
  float: left;
  width: 50%;
}

.crew-icon {
  position: relative;
}
.crew-icon img{
  position: relative;
  border-style: groove;
}

.crew-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.crew-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.txt-crew{
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  padding-bottom: 25px;
}
.heading-crew {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
